<div class="card">
  <div class="card-header">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="text-left">
        <div class="btn-group me-2">
          <button class="btn btn-rounded btn-primary" (click)="openModal()" type="button">{{etiquetabtn}}</button>
        </div>
      </div>
      <div class="input-group">
        <form class="d-flex" (submit)="searchList();">
          <label for="searchValue" class="col-form-label me-2" style="margin-right: 10px;">Buscar:</label>
          <input class="form-control me-2" type="search" id="searchValue" name="searchValue" [(ngModel)]="searchValue"
            placeholder="Buscar" aria-label="Buscar" (input)="toUpperCase(); clearSearchField()"
            (keypress)="onKeyPress($event)" style="margin-right: 10px;">
          <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive p-3">
    <table id="empresa" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th (click)="sortList('vinculacionFlota.flotaVehicular.placa')" class="sortable">
            Placa <i class="fas fa-sort-alpha-down"></i><i class="fas fa-sort-alpha-up-alt"></i>
          </th>
          <th (click)="sortList('vinculacionFlota.flotaVehicular.marca')" class="sortable">
            Marca <i class="fas fa-sort-alpha-down"></i><i class="fas fa-sort-alpha-up-alt"></i>
          </th>
          <th (click)="sortList('vinculacionFlota.flotaVehicular.tipoVehiculo.tipo')" class="sortable">
            Tipo Vehiculo <i class="fas fa-sort-alpha-down"></i><i class="fas fa-sort-alpha-up-alt"></i>
          </th>
          <th (click)="sortList('vinculacionPersonal.identificacion')" class="sortable">
            Identificacion <i class="fas fa-sort-alpha-down"></i><i class="fas fa-sort-alpha-up-alt"></i>
          </th>
          <th (click)="sortList('vinculacionPersonal.personalPolicial.nombreCompleto')" class="sortable">
            Responsable <i class="fas fa-sort-alpha-down"></i><i class="fas fa-sort-alpha-up-alt"></i>
          </th>
          <th (click)="sortList('vinculacionFlota.dependencia.dependenciaPadre.dependenciaPadre.dependenciaPadre.nombre')" class="sortable">
            Distrito <i class="fas fa-sort-alpha-down"></i><i class="fas fa-sort-alpha-up-alt"></i>
          </th>
          <th (click)="sortList('vinculacionFlota.dependencia.dependenciaPadre.dependenciaPadre.nombre')" class="sortable">
            Parroquia <i class="fas fa-sort-alpha-down"></i><i class="fas fa-sort-alpha-up-alt"></i>
          </th>
          <th (click)="sortList('vinculacionFlota.dependencia.dependenciaPadre.nombre')" class="sortable">
            Circuito <i class="fas fa-sort-alpha-down"></i><i class="fas fa-sort-alpha-up-alt"></i>
          </th>
          <th (click)="sortList('vinculacionFlota.dependencia.nombre')" class="sortable">
            SubCircuito <i class="fas fa-sort-alpha-down"></i><i class="fas fa-sort-alpha-up-alt"></i>
          </th>
          <th>Editar/Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vinculacion of vinculacionList">
          <td>{{ vinculacion.vinculacionFlota.flotaVehicular.placa }}</td>
          <td>{{ vinculacion.vinculacionFlota.flotaVehicular.marca }}</td>
          <td>{{ vinculacion.vinculacionFlota.flotaVehicular.tipoVehiculo.tipo }}</td>
          <td>{{ vinculacion.vinculacionPersonal.personalPolicial.identificacion }}</td>
          <td>{{ vinculacion.vinculacionPersonal.personalPolicial.nombreCompleto }}</td>
          <td>{{ vinculacion.vinculacionFlota.dependencia.dependenciaPadre.dependenciaPadre.dependenciaPadre.nombre }}</td>
          <td>{{ vinculacion.vinculacionFlota.dependencia.dependenciaPadre.dependenciaPadre.nombre }}</td>
          <td>{{ vinculacion.vinculacionFlota.dependencia.dependenciaPadre.nombre }}</td>
          <td>{{ vinculacion.vinculacionFlota.dependencia.nombre }}</td>
          <td class="project-actions text-right small">
            <div class="dropdown">
              <button class="btn btn-white" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v fa-sm"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" (click)="openModal(vinculacion)">
                  <i class="fas fa-pencil-alt">
                  </i>
                  Edit
                </button>
                <button class="dropdown-item" (click)="delete(vinculacion)">
                  <i class="fas fa-trash">
                  </i>
                  Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-paginator *ngIf="paginador" [paginador]="paginador" [nombre]="nombre" [url]="url"
    (pageSizeChange)="onPageSizeChange($event)"></app-paginator>
</div>
